
body {
    margin: 0;
    padding: 0;
  }

  #map {
    height: 600px;
    /*
    position: absolute;
    top: 0;
    bottom: 0;
    width: 63%;
    */
  }

  .form-Wrapper{
    /*
    position: relative;
    width: 35%;
    margin:15px;
    float: right;
    */
  }
.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 240px;
    margin-top: 5px;
    max-height: 300px;
  }
  
  .mapboxgl-popup-content {
    overflow: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;    
  }  

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* block event filter */
#eventTable_filter{
    display: none;
  }

#eventTable_length{
    display: none;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#navigation{
    top:0px;
}

#listing {
    display: none;
    margin-top: 50px;
}
#toggle1{
    display:none;
}

.card-header{
    font-size: large;
    font-weight: bold;
}

  